__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
venv/
.env

data/predictions/*
data/processed/*
results/generated/*
results/example/*

!data/processed/.gitkeep
!data/predictions/.gitkeep
!results/generated/.gitkeep
!results/example/.gitkeep

.DS_Store