__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
venv/
.env

data/russian_generated/*
data/predictions/*
data/processed/*
results/generated/*
results/example/*


!data/processed/russian.csv
!data/russian_generated/cyrillic_terms.txt
!data/processed/.gitkeep
!data/predictions/.gitkeep
!results/generated/.gitkeep
!results/example/.gitkeep

.DS_Store